# generating analysis of student session data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

<i> Using a spreadsheet created with session data updated to July 1st. Spreadsheet on google docs.

### Read in and prepare relevant dataframes

In [2]:
stud = pd.read_csv('basic session analysis - totals.csv')

In [3]:
stud.head()

,Channel ID,avg sess/week,avg chunks/week,current sess,current chunk,Channel ID,avg chunks/sess,remaining sess,remaining chunks
0,NaN,0.000000,NaN,0,NaN,NaN,NaN,96.0,660
1,-319743207.0,2.636364,16.954545,58,373.0,-319743207.0,6.280303,38.0,287
2,-319717963.0,1.285714,13.857143,9,97.0,-319717963.0,10.333333,87.0,563
3,-319652574.0,1.000000,3.500000,2,7.0,-319652574.0,3.500000,94.0,653
4,-318942677.0,2.363636,19.090909,26,210.0,-318942677.0,7.416667,70.0,450

In [4]:
#drop google doc's irrelevant row
stud.drop([0], inplace=True)

In [5]:
#ensure that each row and index contains a unique channel id, sorted
_, idx = np.unique(stud, axis=1, return_index=True)
stud = stud.iloc[:, idx]

<i> read in Thomas' student session analysis. Spreadsheet on google docs. <i>

In [6]:
stud.head()

,Channel ID,avg sess/week,avg chunks/sess,avg chunks/week,remaining sess,current sess,remaining chunks,current chunk
1,-319743207.0,2.636364,6.280303,16.954545,38.0,58,287,373.0
2,-319717963.0,1.285714,10.333333,13.857143,87.0,9,563,97.0
3,-319652574.0,1.000000,3.500000,3.500000,94.0,2,653,7.0
4,-318942677.0,2.363636,7.416667,19.090909,70.0,26,450,210.0
5,-318907942.0,2.590909,8.469697,21.681818,39.0,57,183,477.0

In [7]:
stud_summary = pd.read_csv('Copy of Newer Analysis - Student Summary.csv')

In [8]:
pd.options.display.max_columns = 1000
stud_summary.head()

,Student Number,Telegram ID,First Name,Last Name,GEMP,Mobile number,Email,Result,Channel ID,Total no. of sessions,Avg chunks per session,Current chunk,Remaining sessions,< 330 avg chunks per session,End chunk at current rate,Sessions to reach 330,Sessions to reach 378,Sessions to reach 487,Sessions to reach 560,Sessions to reach 650,Total no. of sessions.1,Deficit,0.767,0.6614,1
0,1705618,548344397.0,Hishaam,Abrahams,1.0,768966468.0,1705618@students.wits.ac.za,M1,-314619460.0,38.0,5.43,251,58.0,5.66,565.86,13.97,11.06,29.14,19.51,24.06,97.74,39.74,NaN,NaN,NaN
1,1441216,463737042.0,Raheema,Adam,1.0,822227115.0,1441216@students.wits.ac.za,M1,-277795273.0,37.0,7.58,350,59.0,7.25,M3 Complete,Reached 330,8.63,22.73,15.22,18.77,65.36,6.36,NaN,NaN,NaN
2,1353169,517738666.0,Azraa,Adam,1.0,818590099.0,1353169@students.wits.ac.za,M1,-256050735.0,24.0,8.13,218,72.0,7.78,M3 Complete,14.39,8.04,21.18,14.18,17.48,75.27,3.27,NaN,NaN,NaN
3,838288,535374878.0,Franconcius,Adams,1.0,786850213.0,838288@students.wits.ac.za,M1,-217481107.0,39.0,7.82,366,57.0,8.27,M3 Complete,Reached 330,7.56,19.92,13.34,16.45,57.28,0.28,NaN,NaN,NaN
4,1355104,508890470.0,Sadia,Aden,1.0,820773243.0,1355104@students.wits.ac.za,M1,-306048284.0,30.0,6.25,229,66.0,6.20,641.50,16.29,10.09,26.58,17.80,21.95,92.71,26.71,NaN,NaN,NaN

In [9]:
# filter out students that aren't required to use Uthini
stud_summary = stud_summary[stud_summary['Result'] != 'Exempt']

In [10]:
# sort by Channel ID for proper indexing when merging
stud_summary.sort_values(by=['Channel ID'], ascending = True, inplace = True)

In [11]:
stud_summary = stud_summary.reset_index(drop=True);

In [12]:
# merge relevant columns from the two dataframes on Channel ID
stud_full = pd.merge(stud, stud_summary[['Student Number','Telegram ID','First Name','Last Name','GEMP','Mobile number',
                                         'Email','Result','Channel ID']], on=['Channel ID'])

In [13]:
stud_full.head()

,Channel ID,avg sess/week,avg chunks/sess,avg chunks/week,remaining sess,current sess,remaining chunks,current chunk,Student Number,Telegram ID,First Name,Last Name,GEMP,Mobile number,Email,Result
0,-319743207.0,2.636364,6.280303,16.954545,38.0,58,287,373.0,1056196,503630339.0,Mmaenetjie,Sefiti,2.0,818038901.0,1056196@students.wits.ac.za,M1
1,-319717963.0,1.285714,10.333333,13.857143,87.0,9,563,97.0,1080309,453872843.0,Makgotso,Mogafe,1.0,742278497.0,1080309@students.wits.ac.za,M2
2,-319652574.0,1.000000,3.500000,3.500000,94.0,2,653,7.0,1443976,531904227.0,Sandile,Matukane,1.0,798049316.0,1443976@students.wits.ac.za,M1
3,-318942677.0,2.363636,7.416667,19.090909,70.0,26,450,210.0,671148,460952442.0,Joel,Pabu,2.0,745597572.0,671148@students.wits.ac.za,M1
4,-318907942.0,2.590909,8.469697,21.681818,39.0,57,183,477.0,837717,484863743.0,Kyle,Kretzmer,2.0,823081222.0,837717@students.wits.ac.za,M1

In [14]:
# create a new column that sorts weeks remaining by GEMP membership
# use df to call full dataframe because it's shorter and faster ;)
weeks = []
df = stud_full

for row in df['GEMP']: 
    if row ==1.0:
        weeks.append(11)
    elif row==2.0:
        weeks.append(9)
    else:
        weeks.append('error')
        
df['Weeks Remaining'] = weeks

In [15]:
# this statistic works better for visualization when rounded
df['avg sess/week'] = df['avg sess/week'].round(2)

In [16]:
df.head()

,Channel ID,avg sess/week,avg chunks/sess,avg chunks/week,remaining sess,current sess,remaining chunks,current chunk,Student Number,Telegram ID,First Name,Last Name,GEMP,Mobile number,Email,Result,Weeks Remaining
0,-319743207.0,2.64,6.280303,16.954545,38.0,58,287,373.0,1056196,503630339.0,Mmaenetjie,Sefiti,2.0,818038901.0,1056196@students.wits.ac.za,M1,9
1,-319717963.0,1.29,10.333333,13.857143,87.0,9,563,97.0,1080309,453872843.0,Makgotso,Mogafe,1.0,742278497.0,1080309@students.wits.ac.za,M2,11
2,-319652574.0,1.00,3.500000,3.500000,94.0,2,653,7.0,1443976,531904227.0,Sandile,Matukane,1.0,798049316.0,1443976@students.wits.ac.za,M1,11
3,-318942677.0,2.36,7.416667,19.090909,70.0,26,450,210.0,671148,460952442.0,Joel,Pabu,2.0,745597572.0,671148@students.wits.ac.za,M1,9
4,-318907942.0,2.59,8.469697,21.681818,39.0,57,183,477.0,837717,484863743.0,Kyle,Kretzmer,2.0,823081222.0,837717@students.wits.ac.za,M1,9

### perform column-wise calcuations:
- projected sessions at current session rate
- projected chunks at current chunk and session rate
- how many chunks need to be completed in the remaining weeks at current chunk and session rate
- how many sessions need to be completed in the remaining weeks at current chunk and session rate

In [17]:
df['Projected sessions'] = df['avg sess/week'] * df['Weeks Remaining']

In [18]:
df['Projected chunks'] = df['avg chunks/sess'] *df['Projected sessions']

In [19]:
#df['Session deficit'] = df['remaining sess'] - df['Projected sessions'] This isn't used here but could be useful. 
df['Chunk deficit'] = df['remaining chunks'] - df['Projected chunks']

In [20]:
df['Required chunks per week'] = df['Chunk deficit']/df['Weeks Remaining']

In [21]:
df['Required sessions at chunk rate']= df['Chunk deficit']/df['avg chunks/sess']

In [22]:
df['Required sessions per week']=df['Required sessions at chunk rate']/df['Weeks Remaining']

In [23]:
df.head()

,Channel ID,avg sess/week,avg chunks/sess,avg chunks/week,remaining sess,current sess,remaining chunks,current chunk,Student Number,Telegram ID,First Name,Last Name,GEMP,Mobile number,Email,Result,Weeks Remaining,Projected sessions,Projected chunks,Chunk deficit,Required chunks per week,Required sessions at chunk rate,Required sessions per week
0,-319743207.0,2.64,6.280303,16.954545,38.0,58,287,373.0,1056196,503630339.0,Mmaenetjie,Sefiti,2.0,818038901.0,1056196@students.wits.ac.za,M1,9,23.76,149.220000,137.780000,15.308889,21.938432,2.437604
1,-319717963.0,1.29,10.333333,13.857143,87.0,9,563,97.0,1080309,453872843.0,Makgotso,Mogafe,1.0,742278497.0,1080309@students.wits.ac.za,M2,11,14.19,146.630000,416.370000,37.851818,40.293871,3.663079
2,-319652574.0,1.00,3.500000,3.500000,94.0,2,653,7.0,1443976,531904227.0,Sandile,Matukane,1.0,798049316.0,1443976@students.wits.ac.za,M1,11,11.00,38.500000,614.500000,55.863636,175.571429,15.961039
3,-318942677.0,2.36,7.416667,19.090909,70.0,26,450,210.0,671148,460952442.0,Joel,Pabu,2.0,745597572.0,671148@students.wits.ac.za,M1,9,21.24,157.530000,292.470000,32.496667,39.434157,4.381573
4,-318907942.0,2.59,8.469697,21.681818,39.0,57,183,477.0,837717,484863743.0,Kyle,Kretzmer,2.0,823081222.0,837717@students.wits.ac.za,M1,9,23.31,197.428636,-14.428636,-1.603182,-1.703560,-0.189284

In [24]:
# flag students who will go over the session limit if they stay at their projected session and chunk rate
over_sessions = []
over_sessions = (df['Required sessions per week']* df['Weeks Remaining']) > df['remaining sess']
over_sessions.value_counts()

False    493
True      53
dtype: int64

In [25]:
# add that as a column
df['Over session limit?'] = over_sessions

### edit some of the columns to make reporting clearer to students:
- if students have a negative 'required sessions per week' or 'required chunks per week' measurement, they're on track and don't need to show up as flagged in a report/visualization. 
- create a new column, "session rate," that will let students know approx. how many sessions they do a week
- create a progress percentage column for an easier understanding of chunk progress

In [26]:
req1 = []

for row in df['Required sessions per week']: 
    if row <0:
        req1.append(0)
    else: 
        req1.append(row)
req1;
req1 = [round(x) for x in req1]

In [27]:
df['Required sessions per week'] = req1

In [28]:
df['Session rate'] = df['Required sessions per week'] - df['avg sess/week'].astype(int)

In [29]:
req4 = []
for row in df['Session rate']: 
    if row > 0:
        req4.append(row)
    elif row < 0:
        req4.append('0')
    else:
        req4.append('0')
req4;

In [30]:
df['Session rate'] = req4

In [31]:
req5 = []
for row in df['Required chunks per week']: 
    if row > 0:
        req5.append(row)
    elif row < 0:
        req5.append('0')
    else:
        req5.append('0')
req5;

req6 = []
for row in df['Required sessions at chunk rate']: 
    if row > 0:
        req6.append(row)
    elif row < 0:
        req6.append('0')
    else:
        req6.append('0')
req6;

In [32]:
df['Required sessions at chunk rate'] = req6
df['Required chunks per week'] = req6

In [33]:
df["Progress Percentage"] = (df['current chunk']/650 *100).round(2)

In [34]:
df.head()

,Channel ID,avg sess/week,avg chunks/sess,avg chunks/week,remaining sess,current sess,remaining chunks,current chunk,Student Number,Telegram ID,First Name,Last Name,GEMP,Mobile number,Email,Result,Weeks Remaining,Projected sessions,Projected chunks,Chunk deficit,Required chunks per week,Required sessions at chunk rate,Required sessions per week,Over session limit?,Session rate,Progress Percentage
0,-319743207.0,2.64,6.280303,16.954545,38.0,58,287,373.0,1056196,503630339.0,Mmaenetjie,Sefiti,2.0,818038901.0,1056196@students.wits.ac.za,M1,9,23.76,149.220000,137.780000,21.9384,21.9384,2,False,0,57.38
1,-319717963.0,1.29,10.333333,13.857143,87.0,9,563,97.0,1080309,453872843.0,Makgotso,Mogafe,1.0,742278497.0,1080309@students.wits.ac.za,M2,11,14.19,146.630000,416.370000,40.2939,40.2939,4,False,3,14.92
2,-319652574.0,1.00,3.500000,3.500000,94.0,2,653,7.0,1443976,531904227.0,Sandile,Matukane,1.0,798049316.0,1443976@students.wits.ac.za,M1,11,11.00,38.500000,614.500000,175.571,175.571,16,True,15,1.08
3,-318942677.0,2.36,7.416667,19.090909,70.0,26,450,210.0,671148,460952442.0,Joel,Pabu,2.0,745597572.0,671148@students.wits.ac.za,M1,9,21.24,157.530000,292.470000,39.4342,39.4342,4,False,2,32.31
4,-318907942.0,2.59,8.469697,21.681818,39.0,57,183,477.0,837717,484863743.0,Kyle,Kretzmer,2.0,823081222.0,837717@students.wits.ac.za,M1,9,23.31,197.428636,-14.428636,0,0,0,False,0,73.38

## export data to csv: updated student analysis

In [35]:
df.to_csv('updated_student_analysis.csv', index=False)